<!-- Copyright (c) 2024, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<center>
 <h3 style="color:red"> Large-Scale Renewable Energy Production Shutdown .</h3>
<br/>
<br/>
<h3>
A negative spot price episode  between  {{card.data.start}} and {{card.data.end}}   will cause a significant shutdown of solar and wind power generation.

</h3>
<br/>
<h3>
The total shutdown for France is estimated to be between <span style="color:red">  {{card.data.mw_min}} and {{card.data.mw_max}} MW  </span> during the period.
</h3>
<br/>
<h3>
These shutdowns/restarts, over which RTE has no control, will have an impact on frequency, transits and voltages.
</h3>
<br/>
<h3>
Thank you for your vigilance.
</h3>

</center>
