*.env
.idea/*
*.tar.gz
cypress/node_modules/

server/businessconfig-storage/businessdata
server/businessconfig-storage/bundles/demoProcessId
server/businessconfig-storage/bundles/dataQualityProcessId
server/businessconfig-storage/bundles/hVNetworkOperator
server/businessconfig-storage/bundles/networkContingencyProcessId
server/businessconfig-storage/bundles/defaultProcess/2
server/businessconfig-storage/realtimescreens.json